.container {
  width: 75%;
  margin: auto;
  background-color: #011f63;
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
}
.container > div:nth-child(1) {
  width: 30%;
}
.container > div:nth-child(2) {
  width: 70%;
}
.listGrid {
    display: grid;
    grid-template-columns:  50% 50%;
    gap: 1rem;
}