.container {
  background-color: white;
  padding: 1rem 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.titleRow {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.titleRow h4 {
  color: #0051ff;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  font-size: 14px;
}
.titleRow p {
  color: #1a314d;
  font-size: 12px;
}
.infoRow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
.infoRow > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.infoRow p {
  color: #5c6c80;
  font-size: 12px;
}
